<!DOCTYPE html>
<html>
<head>
  <title>Gestión de Estudiantes</title>
</head>
<body>
  <h1>Bienvenido al Sistema de Gestión de Estudiantes</h1>
  <ul>
    <li><a href="/alumnos">Alumnos</a></li>
    <li><a href="/cursos">Cursos</a></li>
    <li><a href="/jefeDeCarrera">Jefe de Carrera</a></li>
    <li><a href="/asignaturas">Asignaturas</a></li>
    <li><a href="/profesores">Profesores</a></li>
    <li><a href="/carreras">Carreras</a></li>
  </ul>
</body>
</html>
